In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from selenium import webdriver
import time
import csv
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
driver = webdriver.Chrome()
driver.get("https://ncrdb.usga.org/NCRDB/")

In [4]:
filename = "course_id_directory.csv"
  
# initializing the titles and rows list 
rows = [] 
  
# reading csv file 
with open(filename, 'r') as csvfile: 
    # creating a csv reader object 
    csvreader = csv.reader(csvfile) 
      
    # extracting field names through first row 
    # fields = csvreader.next() 
  
    # extracting each data row one by one 
    for row in csvreader: 
        rows.append(row) 
  
    # get total number of rows 
    print("Total no. of rows: %d"%(csvreader.line_num))

Total no. of rows: 16423

In [13]:
all_courses = pd.DataFrame()

# for i in (1,len(rows)):
for i in range(1,10):
    print(i)
    course_id = rows[i][4]
    driver.get(f"http://ncrdb.usga.org/courseTeeInfo.aspx?CourseID={course_id}")
    time.sleep(1)
    course_name = driver.find_element_by_xpath('//*[@id="gvCourseTees"]/tbody/tr[2]/td[1]').text
    city = driver.find_element_by_xpath('//*[@id="gvCourseTees"]/tbody/tr[2]/td[2]').text
    state = driver.find_element_by_xpath('//*[@id="gvCourseTees"]/tbody/tr[2]/td[3]').text

    try:
        course_tees = driver.find_element_by_id("gvTee").get_attribute('outerHTML')
        df  = pd.read_html(course_tees)
    except:
        print("No Course Ratings found")
        df = list()
        df.append(pd.DataFrame({'Tee Name':['NR'],'Par':['NR'],'Course Rating (18)':['NR'],'Slope Rating (18)':['NR'],'Front (9)':['NR'],'Back (9)':['NR'],'Bogey Rating (18)':['NR'],'Gender':['NR']}))
    
    df[0]['Course Name'] = course_name
    df[0]['Course ID'] = course_id
    df[0]['City'] = city
    df[0]['State']= state
    all_courses = all_courses.append(df[0])

all_courses = all_courses[['Course Name','Course ID','City','State','Tee Name','Par','Course Rating (18)','Slope Rating (18)','Front (9)','Back (9)','Bogey Rating (18)','Gender']].reset_index(drop=True)
all_courses.head()

1
No Course Ratings found
2
No Course Ratings found
3
4
5
6
7
No Course Ratings found
8
9
No Course Ratings found

,Course Name,Course ID,City,State,Tee Name,Par,Course Rating (18),Slope Rating (18),Front (9),Back (9),Bogey Rating (18),Gender
0,'16 MST - '16 MST,24176,Birmingham,AL,NR,NR,NR,NR,NR,NR,NR,NR
1,'18 U.S. Women's Open - '18 U.S. Women's Open,26738,Shoal Creek,AL,NR,NR,NR,NR,NR,NR,NR,NR
2,Alpine Bay Golf Club - Alpine Bay Golf Club,11318,Alpine,AL,Blue,71,71.8,131,36.1 / 131,35.7 / 130,96.1,M
3,Alpine Bay Golf Club - Alpine Bay Golf Club,11318,Alpine,AL,White,71,69.4,128,34.8 / 132,34.6 / 123,93.1,M
4,Alpine Bay Golf Club - Alpine Bay Golf Club,11318,Alpine,AL,Gold,71,67.9,123,34.2 / 129,33.7 / 117,90.8,M

In [ ]:
all_courses = pd.DataFrame()

for i in range(1884):
    course_id = s.pop()
    driver.get(f"http://ncrdb.usga.org/courseTeeInfo.aspx?CourseID={course_id}")
    time.sleep(1)
    course_name = driver.find_element_by_xpath('//*[@id="gvCourseTees"]/tbody/tr[2]/td[1]').text
    city = driver.find_element_by_xpath('//*[@id="gvCourseTees"]/tbody/tr[2]/td[2]').text
    state = driver.find_element_by_xpath('//*[@id="gvCourseTees"]/tbody/tr[2]/td[3]').text
    print(course_name)
    print (i+1)
    
    try:
        course_tees = driver.find_element_by_id("gvTee").get_attribute('outerHTML')
        df  = pd.read_html(course_tees)
    except:
        print("No Course Ratings found")
        df = list()
        df.append(pd.DataFrame({'Tee Name':['NR'],'Par':['NR'],'Course Rating (18)':['NR'],'Slope Rating (18)':['NR'],'Front (9)':['NR'],'Back (9)':['NR'],'Bogey Rating (18)':['NR'],'Gender':['NR']}))

    df[0]['Course Name'] = course_name
    df[0]['Course ID'] = course_id
    df[0]['City'] = city
    df[0]['State']= state
    all_courses = all_courses.append(df[0])

all_courses = all_courses[['Course Name','Course ID','City','State','Tee Name','Par','Course Rating (18)','Slope Rating (18)','Front (9)','Back (9)','Bogey Rating (18)','Gender']].reset_index(drop=True)
all_courses.head()

In [ ]:
all_courses.to_csv('temp_course_rating_db.csv',index=False)

In [6]:
rows[1][4]

'24176'